
body {
  padding-top: 54px;

}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}



.classe_img_con_didascalia { 
     float: left; 
     position: ; relative
     overflow: hidden; 
 } 
  
 .classe_img_con_didascalia p { 
     position: ; 
     left: 0; 
     bottom: 0; 
     background: none repeat scroll 0 0 rgba(0, 204, 204, 1); 
     color: #000; 
     display: yes; 
     width: 100%; 
     padding: 10px; 
 } 
  
 .classe_img_con_didascalia:hover p { 
     display:block; 
 } 